/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Deca', sans-serif;
}
.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: inherit;
}
nav ul {
  display: flex;
  justify-content: initial;
  align-items: initial;
}
nav li:last-of-type a {
  padding-right: 0;
}
nav a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 2rem 1.5rem 1.5rem;
}
header {
  background-color: #F9F9F9;
  border-radius: 10px;
  padding: 3rem 1.5rem;
}
header .image-container {
  max-width: 350px;
  width: 100%;
  height: 300px;
}
header .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .resume-intro {
  padding: 0.5rem 0 1.5rem;
  border-bottom: 1px solid #ddd;
}
header .resume-intro h1 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  header .resume-intro h1 {
    font-size: 2rem;
  }
}
@media (max-width: 650px) {
  header .resume-intro h1 {
    font-size: 1.5rem;
  }
}
header .resume-intro p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: medium;
}
@media (max-width: 650px) {
  header .resume-intro p {
    font-size: 1rem;
    margin-top: 0;
  }
}
header .resume-summary {
  padding-top: 1.5rem;
}
header .resume-summary button {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0.75em 1em;
  margin-top: 1rem;
  border-radius: 5px;
}
main {
  margin-top: 2rem;
}
main h2 {
  font-size: 1.5rem;
}
main .col-2-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 650px) {
  main .col-2-grid {
    flex-direction: column;
  }
}
main .col-2-grid section {
  width: calc(50% - 20px);
}
@media (max-width: 650px) {
  main .col-2-grid section {
    width: 100%;
  }
}
main .col-2-grid section:first-of-type h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 650px) {
  main .col-2-grid section:first-of-type {
    margin-bottom: 2rem;
  }
}
main .hobbies-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 0.5rem;
}
main .hobbies-list li {
  border-bottom: 1px solid #ddd;
  padding: 0.75rem 1rem;
}
main .hobbies-list li:last-of-type {
  border: none;
}
main .table-container {
  margin-top: 2rem;
}
main .table-container > div {
  overflow-x: auto;
}
main .table-container table {
  width: 100%;
  margin-top: 0.5rem;
  white-space: nowrap;
}
main .table-container tr {
  border-bottom: 1px solid #ddd;
}
main .table-container tr:nth-of-type(2n + 1) {
  background: #F9F9F9;
}
main .table-container tr:last-of-type {
  border-bottom: none;
}
main .table-container th {
  font-family: 'Lexend Deca', sans-serif;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: white;
}
main .table-container th,
main .table-container td {
  padding: 0.75rem 0.75rem;
  text-align: left;
}
footer {
  background: rgba(0, 0, 0, 0.45);
  color: white;
  margin-top: 2rem;
  text-align: center;
  padding: 1.5rem 0;
}
